<li id="<%= feed_item.id %>">
    <%= feed_item.comment %>
  <span class="content"><a href=<%= "http://" +feed_item.content.to_s  %>><%=feed_item.content %></a></span>
  <% if @user == current_user %>
      <%= link_to "delete", "/bookdelete?bookmark_id=#{feed_item.id}", method: :delete %>
  <% end %>
</li>